
@-webkit-keyframes fluig-helper-rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes fluig-helper-rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.fluig-helper-rotating {
	-webkit-animation: fluig-helper-rotating 2s linear infinite;
	-moz-animation: fluig-helper-rotating 2s linear infinite;
	-ms-animation: fluig-helper-rotating 2s linear infinite;
	-o-animation: fluig-helper-rotating 2s linear infinite;
	animation: fluig-helper-rotating 2s linear infinite;
}
